.hed{
    background-color: gray;
    color: white;
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;

}
.main-content{
    display: flex;
    gap: 200px;
}
.inline-elem{
    margin-top: 20px;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}