.main{
    background-color: rgb(43, 43, 43);
    height: 80px;
    width: 80px;
    transition: all 3s;
}
.ouside{
    height: 100vh;
    width: 100vw;
}
body:hover .main{
    transform: translate(1250px, 600px) rotate(360deg) scale(8);
    background-color: rgb(167, 167, 167);
    border-radius: 100%;
}