.out{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oute{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    height: 300px;
    width: 300px;
}
.but{
    height: 300px;
    width: 300px;
    background-color: red;
    transition-property: all;
    transition-duration: 2000ms;
}
.but:hover{
    height: 100px;
    width: 100px;
}